<header>
	<nav class = "title">
    <a href = "{{ site.baseurl }}/">Celeen Rusk</a>
	</nav>
	<nav class = "links">

			<li class ="email">
				<a href= "mailto:celeenrusk@gmail.com">
					<img src = "{{ site.baseurl }}/images/envelope.png" alt = "email">
  				</a>
  			</li>

			<li class = "linkedin">
				<a href = "http://www.linkedin.com/pub/celeen-rusk/10/a80/84b/">
					<img src = "{{ site.baseurl }}/images/linkedin.png" alt = "Linked in">
  				</a>
  			</li>

			<li class = "github">
				<a href="https://github.com/celeen">
					<img src = "{{ site.baseurl }}/images/github.png" alt = "Git Hub">
  				</a>
  			</li>

			<li class = "twitter">
				<a href="https://twitter.com/celeenr">
					<img src = "{{ site.baseurl }}/images/twitter.png" alt = "twitter">
  				</a>
  			</li>

			<li class = "soundcloud">
				<a href="https://soundcloud.com/playtheswan">
					<img src = "{{ site.baseurl }}/images/soundcloud.png" alt ="soundCloud">
  				</a>
  			</li>
	</nav>
	</header>
