<head>
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300|Raleway:400,700,800' rel='stylesheet' type='text/css'>
	<meta charset="utf-8">
<title>{{ page.title }}</title>
<link rel="alternate" type="application/rss+xml" title="RSS"
      href="http://celeen.github.io/feed.xml">
<link rel = "stylesheet" type = "text/css" href = "{{ site.baseurl }}/stylesheets/reset.css">
<link rel = "stylesheet" type = "text/css" href = "{{ site.baseurl }}/stylesheets/syntax.css">
<link rel = "stylesheet" type = "text/css" href = "{{ site.baseurl }}/stylesheets/template.css">

{% include goog_analytics_main.html %}

</head>
