<head>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic|Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
	<meta charset="utf-8">
	<title>Celeen Rusk</title>
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel = "stylesheet" type = "text/css" href = "{{ site.baseurl }}../stylesheets/resume.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="../resume.js" type="text/javascript"></script>

	{% include google_analytics.html %}

</head>
