<head>
	<!-- <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic|Vesper+Libre:400,700' rel='stylesheet' type='text/css'> -->
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic|Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
	<meta charset="utf-8">
	<title>Celeen Rusk</title>
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel = "stylesheet" type = "text/css" href = "../stylesheets/resume.css">

	{% include google_analytics.html %}

</head>