html {
	background-color: #002952;
}

body {
	background-color: #ffffee;
	color: #194719;
	margin: auto;
	width: 600px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Garamond;
	text-align: center;
}

a {
	color: #660033;
}

#footer {
	font-style: italic;
	font-variant: small-caps;
	font-size: 12px;
	text-align: center;
}

.content {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.bright {
	color: #FF6699;
}

