.shown, .hidden {
	width: 652px;
	height: 652px;
	position: fixed;
	top: 20px;
	left: 20px;
}

#container {
	width: 652px;
	height: 652px;
	position: fixed;
	top:20px;
	left:20px;
	z-index: 5;
}



.shown {
	z-index: 1;
}

.top {
	z-index: 3;
}
div {
	width: 33%;
	height: 33%;
	display: block;
	position:relative;
	float:left;
	overflow:hidden;
}